fastapi
uvicorn[standard]
pydantic
pytest
pytest-cov
requests
black
flake8
requests-mock # For mocking HTTP requests in SDK tests
typer[all] # For building the CLI tool
httpx # Required by FastAPI TestClient
flask # For mock tool service
locust # For load testing
litellm
python-dotenv
pytest-asyncio # For running async tests with pytest
pytest-httpserver # For mocking HTTP endpoints in integration tests
pytest-mock # For mocking objects/functions in unit tests